<div class="min-h-screen flex justify-center items-start bg-gray-100 p-6">
    <div class="w-full max-w-5xl bg-white shadow-lg rounded-lg overflow-hidden">
        <table class="w-full border-collapse">
            <thead class="bg-teal-400 text-white uppercase text-sm leading-normal">
                <tr>
                    <th class="py-3 px-6 text-left">Name</th>
                    <th class="py-3 px-6 text-left">Email</th>
                    <th class="py-3 px-6 text-left">User Role</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                <tr *ngFor="let item of allUsers" class="border-b border-gray-200 hover:bg-gray-50">
                    <td class="py-3 px-6">{{item.name}}</td>
                    <td class="py-3 px-6">{{item.email}}</td>
                    <td class="py-3 px-6">{{item.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
