<div class="w-full flex items-center justify-center min-h-screen bg-gray-100">
<div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h1 class="text-2xl font-semibold text-center mb-6">Dealer Registration</h1>
    
    <form (submit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-1">Enter Name</label>
            <input [(ngModel)]="newUser.name" type="text" name="name" 
                placeholder="John Doe"
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"/>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-1">Enter Email</label>
            <input [(ngModel)]="newUser.email" type="email" name="email" 
                placeholder="xyz@email.com"
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"/>
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 font-medium mb-1">Enter Password</label>
            <input type="password" [(ngModel)]="newUser.password" name="password" 
                placeholder="password@2"
                class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none"/>
        </div>

        <button type="submit"
            class="w-full bg-teal-600 text-white py-2 rounded-lg hover:bg-teal-700 cursor-pointer active:bg-teal-800 transition">
            Register Dealer
        </button>

    </form>
</div>
</div>
