<div class="min-h-screen bg-gray-100 flex items-center justify-center p-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full max-w-6xl">

        <div (click)="goToRoute('/addAds')" class="px-6 py-6 rounded-2xl transition transform hover:scale-105 hover:shadow-lg bg-white text-center shadow-md cursor-pointer">
            <h3 class="text-lg font-semibold text-gray-800">Add Advertisements</h3>
        </div>
        
        <div (click)="goToRoute('/ads')"  class="px-6 py-6 rounded-2xl transition transform hover:scale-105 hover:shadow-lg bg-white text-center shadow-md cursor-pointer">
            <h3 class="text-lg font-semibold text-gray-800">All Advertisements</h3>
        </div>
        <div (click)="goToRoute('/complaints')"  class="px-6 py-6 rounded-2xl transition transform hover:scale-105 hover:shadow-lg bg-white text-center shadow-md cursor-pointer">
            <h3 class="text-lg font-semibold text-gray-800">All Complaints</h3>
        </div>
        <div (click)="logout()"  class="px-6 py-6 rounded-2xl transition transform hover:scale-105 hover:shadow-lg bg-red-500  text-white  hover:bg-red-600 text-center shadow-md cursor-pointer">
            <h3 class="text-lg font-semibold text-white">Logout</h3>
        </div>
        
    </div>
</div>
